@font-face {
  font-family: 'North Face' ;
  src: url(../capstone-pj/fonts/north-face/NorthFace.ttf);
  
  font-family: 'Autumn';
  src: url(../capstone-pj/fonts/meditative/Meditative.ttf);

  font-family: 'Mainsan';
  src: url(../capstone-pj/fonts/mainsan/Mainsan.ttf)
}

body{
  background-color: #3c4b2f;
  overflow-x:hidden;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-family: 'North Face';
  color: #adb836;
  margin-bottom:0;
  text-align: center;
}

.body-text {
  display: flex;
  margin: 2rem 5rem 5rem;
  color: antiquewhite;
  font-size: large;
  text-align: center;
}

@media screen and (max-width: 450px) { 
  .body-text{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

.intro-text {
  color: #d3a612;
  font-size: larger;
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#map {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 2rem 2rem 3rem 2rem;
  padding:0;
}

h3{
  font-family: 'Autumn';
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  color: antiquewhite;
}

.fa-person-hiking {
  color: #c8d41d;
}

.navbar-brand{
  white-space:normal;
}

.knife{
  display: flex;
  justify-content: center;
}

.knife-size {
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-outline{
  display: flex;
  justify-content: center;
}

#search-bar {
  text-align: center;
  width: 300px;
  margin-top: 10px;
}

footer {
  background-color: #02000089;
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  width: 25%;
  text-align: left;
}

.footer-links h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Futura";
}

.footer-logo {
  text-align: center;
  max-width: 8rem;
  margin-top: 1rem;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-copyright {
  width: 50%;
  text-align: center;
  padding-right: 10rem;
  font-size: 14px;
  color: #666;
}





